# =========================
# FRONTEND
# =========================
frontend/node_modules
frontend/dist
frontend/.env

# =========================
# BACKEND
# =========================
backend/venv
backend/__pycache__
backend/db.sqlite3
backend/media
backend/staticfiles
backend/.env

# =========================
# PYTHON
# =========================
*.pyc
*.pyo
*.pyd
__pycache__/

# =========================
# MAC
# =========================
.DS_Store

# =========================
# VSCODE
# =========================
.vscode

# =========================
# ENV
# =========================
.env