[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
environs = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
python-decouple = "*"
gunicorn = "*"
celery = "*"
redis = "*"
stripe = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.4"
